@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --height-1\/12: 8.333333%;
  --height-11\/12: 91.666666%;

  --color-o-white-max: #fffff4;
  --color-o-white: #ffffef;
  --color-o-black: #02132a;

  --animate-appear: appear 100ms ease-in;
  --animate-disappear: disappear 100ms ease-in;
  --animate-shake: shake 0.3s ease-in-out infinite;

  @keyframes appear {
    0% {
      transform: scale(0.62);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes disappear {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.62);
      opacity: 0;
    }
  }
  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(1deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-1deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility center {
  @apply flex items-center justify-center;
}

@utility around {
  @apply flex items-center justify-around;
}

@utility between {
  @apply flex items-center justify-between;
}

@utility vstack {
  @apply flex flex-col;
}

@utility full {
  @apply w-full h-full;
}

@utility center-full {
  @apply full center;
}

@utility error {
  @apply outline-pink-500 ring-1 ring-pink-500;
}

@utility font-ma {
  font-family: 'MontserratAlternates';
}

@font-face {
  font-family: 'MontserratAlternates';
  src: url('/fonts/MontserratAlternates-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'MontserratAlternates';
  src: url('/fonts/MontserratAlternates-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'MontserratAlternates';
  src: url('/fonts/MontserratAlternates-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'MontserratAlternates';
  src: url('/fonts/MontserratAlternates-Bold.ttf');
  font-weight: 800;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'MontserratAlternates';

  @apply bg-o-white text-sm lg:text-base xl:text-lg 2xl:text-xl;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  overscroll-behavior-y: contain;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  background-clip: content-box;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-clip: content-box;
  @apply bg-neutral-400 rounded-lg;
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

.flip-inner {
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  position: relative;
}

.animate-flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  top: 0;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.custom-grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.markdown {
  > * {
    @apply my-1 w-full;
  }

  * {
    text-wrap: wrap;
  }

  h1 {
    @apply text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl;
  }

  h2 {
    @apply text-lg lg:text-xl xl:text-2xl 2xl:text-3xl;
  }

  h3,
  h4 {
    @apply text-base lg:text-lg xl:text-xl 2xl:text-2xl;
  }

  a {
    text-decoration: underline;
    @apply text-blue-600;
  }

  ul {
    list-style: disc;
    margin-left: 20px;
  }

  ol {
    list-style: decimal;
    margin-left: 20px;
  }

  pre {
    @apply bg-neutral-50 p-2 rounded-md;
  }

  blockquote {
    @apply bg-neutral-100 px-1 pl-2 md:pl-4 rounded-md border-l-2 border-yellow-200 italic;
  }

  audio {
    @apply w-full m-auto;
  }

  img,
  video {
    @apply w-full md:w-1/2 m-auto;
  }
}

.media-full > {
  img,
  video {
    @apply md:w-1/2;
  }
}
